img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-button {
  cursor: pointer;
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  line-height: 0;
  padding: 0;
  opacity: 0.3;
}

.mat-button:hover {
  opacity: 1;
}
