@mixin icon-size($size, $min-size) {
  width: $size;
  height: $size;
  // Change default min size
  min-width: $min-size;
  min-height: $min-size;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-button {
  cursor: pointer;
  position: absolute;
  @include icon-size(50px, 10px);
  line-height: 0;
  padding: 0;
  opacity: 0.3;
  margin: auto;
}

.mat-button:hover {
  opacity: 1;
}

.mat-icon {
  @include icon-size(50px, 10px);
}

.mat-button.arrow-right {
  top: 0;
  bottom: 0;
  right: 0;
}

.mat-button.arrow-left {
  top: 0;
  bottom: 0;
  left: 0;
}
