img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-icon {
  height: 40px;
  width: 40px;
}

.mat-icon-button {
  position: absolute;
  line-height: 0;
}
