img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  opacity: 0.3;
}

.mat-icon:hover {
  opacity: 1;
}

.mat-icon[svgicon="arrow-left"],
.mat-icon[svgicon="arrow-right"] {
  height: 100px;
  width: 100px;
  bottom: 0;
}
