.mat-toolbar {
  height: 48px;
  left: 0;
  position: fixed; // Sticky toolbar
  top: 0;
  z-index: 2;

  a {
    font-size: 16px; // Increase logo text
    vertical-align: text-bottom; // Align to text
    width: 100%; // Ancor should wrap both image and text
  }

  .fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

  .mat-icon.logo {
    height: 36px;
    width: 36px;
  }

  .mat-icon.mail {
    height: 20px;
    width: 20px;
  }
}
