.container {
  padding: 10px;
}

.item {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 10px;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
