/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$art-app-primary: mat-palette($mat-cyan);
$art-app-accent:  mat-palette($mat-lime);

// The warn palette is optional (defaults to red).
$art-app-warn:    mat-palette($mat-orange);

// Create the theme object (a Sass map containing all of the palettes).
$art-app-theme: mat-light-theme($art-app-primary, $art-app-accent, $art-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($art-app-theme);

body {
  margin: 0px;
  padding-top: 48px;
}
