<div class="container" fxLayout="row wrap" fxLayoutAlign="start">
  <div class="item">
    <img src="https://static.wixstatic.com/media/e40792_8ce60d24eeea4d878e6f148276e67b02~mv2.jpg/v1/fill/w_423,h_290,al_c,lg_1,q_80/e40792_8ce60d24eeea4d878e6f148276e67b02~mv2.webp">
  </div>
  <div class="item">
    <img src="http://www.clker.com/cliparts/1/f/2/c/1329256295116381963Small%20Owl.svg.med.png">
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
